<section class="flex flex-col lg:flex-row gap-5 my-20" id="sobre-mi">

	<div class="flex-1 flex flex-col gap-5 min-h-40">
		<h2 class="lg:text-4xl">Sobre mí</h2>

		<p class="text-[var(--text)] lg:text-lg">Soy desarrollador web freelancer con más de 5 años de experiencia creando sitios para emprendimientos, marcas y empresas de distintos rubros. Trabajé de forma independiente con clientes chicos y grandes, y eso me enseñó a entender qué necesita cada negocio antes de escribir una sola línea de código.
		Soy autodidacta — aprendo constantemente para usar herramientas actuales como React, Next.js y Astro, lo que se traduce en sitios más rápidos, modernos y fáciles de mantener.
		No trabajo en agencias ni con equipos grandes. Cuando me contratás, hablás directamente conmigo.</p>
	</div>

	<div class="flex-1 min-h-40 bg-red-200">
		<img src="" alt="">
	</div>

</section>