<section id="contacto" class="bg-[var(--bg)] p-6 px-10 lg:p-6 flex flex-col min-h-80 gap-2 justify-around">
	<div class="flex flex-col gap-5">
		<h2 class="text-xl lg:text-4xl font-semibold">¿Tenés un negocio y querés una <br>web que realmente funcione?</h2>
		<p class="text-[var(--text)] lg:text-xl">Contame sobre tu proyecto y te digo cómo puedo ayudarte — sin compromiso.</p>
	</div>

	<div class="flex items-center gap-5">
		<a href="https://wa.me/5493512377435" target="_blank" class="flex items-center gap-2 py-4 px-6 font-medium bg-black w-fit text-white">
			Escribime por WhatsApp
		</a>
		<a href="mailto:maximo2004lfn@gmail.com" class="underline">o por mail</a>
	</div>
	<span>Respondo en menos de 24hs — sin costo</span>
</section>