---
---

<section id='inicio' class="p-15 lg:flex bg-[var(--bg)]">
	<div class="flex-1 flex flex-col gap-4">
		<h1 class="lg:text-4xl font-medium">Creo páginas web para negocios que quieren más clientes</h1>
		<p class="lg:text-2xl text-[var(--text)]">Sitios web y apps móviles simples, rápidos y efectivos</p>
		<a href="#contacto" class="py-4 px-6 text-white font-medium w-fit bg-[#010101ff]">Hablemos de tu proyecto</a>
		<ul class="flex gap-2">
			{["Cargas rapidas -", "SEO para Google -", "Load fast"].map(a => (
				<li class="font-medium">{a}</li>
			))}
		</ul>
	</div>
	<div class="flex-1 bg-green-200">
		<img src="" alt="Ilustración de un sitio web simple y personalizado" />
	</div>
</section>
