---
import Design from '../assets/icons/Design.astro'
const pasos = [
	{ 
		title: "Wireframe",
		des: "Definimos la estructura y qué va en cada lugar antes de diseñar"
	},
	{ 
		title: "Diseño",
		des: "Creamos la apariencia visual: colores, tipografías y estilo"
	},
	{ 
		title: "Desarrollo",
		des: "Construyo el sitio con tecnología moderna, rápida y segura"
	},
	{ 
		title: "Backend",
		des: "Si necesitás formularios, pagos o base de datos, lo incluyo"
	},
	{ 
		title: "Publicación",
		des: "Subo todo online, configuro el dominio y queda listo para usarse"
	}
]
---

<section class="px-10 lg:px-0 flex flex-col gap-5">
	<div class="flex flex-col gap-2">
		<h2 class="tex-2xl lg:text-4xl">Me encargo de todo:<br class="hidden lg:inline"> estructura, diseño, desarrollo y publicación.</h2>
		<p class="text-[var(--text)] text-lg lg:text-2xl">Del boceto al sitio online, sin que tengas que preocuparte por nada</p>
	</div>

	<ul class="grid grid-cols-1 lg:grid-cols-3 w-full gap-5">
		{pasos.map((p,i) => (
			<ol class={`${i===0 ? 'row-span-2' : ''} cursor-pointer hover:bg-[#f3f5f7ff] group bg-[var(--bg)] min-h-60 p-4 flex flex-col gap-2 relative overflow-hidden`}>
				<h3 class="font-medium text-lg lg:text-2xl">{`0${i+1} ${p.title}`}</h3>
				<p class="text-[var(--text)] lg:text-lg">{p.des}</p>

				{i===1 && (
					<Design />
				)}

			</ol>
		))}
	</ul>

	<p class="text-center lg:text-lg self-end text-[#888]">Trabajo con un proceso claro para que siempre sepas en qué etapa estamos.</p>

</section>