---
import Action from '../assets/icons/Action.astro'
import Empresa from '../assets/icons/Empresa.astro'
import Cart from '../assets/icons/Cart.astro'
const services = [
	{
		title: "Landing Page + WhatsApp",
		des: "Para negocios que necesitan una presencia online rápida y directa. Una página clara que convierte visitas en mensajes de WhatsApp. Ideal para: profesionales independientes, servicios locales, emprendimientos."
	},
	{
		title: "Web con catálogo de productos/servicios",
		des: "Mostrá lo que ofrecés de forma clara y profesional. Sin carrito, sin complicaciones, solo una vitrina digital que vende. Ideal para: talleres, estudios, proveedores, servicios B2B."
	},
	{
		title: "Rediseño de web existente",
		des: "Tu web ya existe pero no convierte o se ve vieja. La mejoro en velocidad, diseño y estructura para que trabaje mejor por vos. Ideal para: negocios con web desactualizada o lenta."
	},
	{
		title: "Tienda online (E-commerce básico)",
		des: "Vendé tus productos las 24 hs. Integro un sistema de gestión simple para que vos mismo puedas actualizar stock y precios sin tocar código. Ideal para: tiendas físicas que quieren vender online, marcas pequeñas."
	}
]
---

<section class="px-10 lg:px-0 flex flex-col gap-5 my-20">
	<div class="flex flex-col gap-2">
		<h2 class="text-2xl lg:text-4xl font-medium">Mis servicios</h2>
		<p class="text-[var(--text)] text-lg lg:text-2xl">Soluciones web enfocadas en diseño, rendimiento y resultados.</p>
	</div>

	<ul class="grid grid-cols-1 lg:grid-cols-3 w-full gap-5">
		{services.map((s, i) => (
			<li class={`bg-[#fafafa] min-h-60 flex flex-col gap-2 p-4 lg:p-6 ${i===0 ? 'lg:col-span-2' : i===3 ? 'lg:col-span-2' : ''}`}>
				{	
					i===0 ? <Action w={30} /> :
					i===1 ? <Empresa w={30} /> : 
					i=== 3 ? <Cart w={30} /> : 
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brush"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 21v-4a4 4 0 1 1 4 4h-4" /><path d="M21 3a16 16 0 0 0 -12.8 10.2" /><path d="M21 3a16 16 0 0 1 -10.2 12.8" /><path d="M10.6 9a9 9 0 0 1 4.4 4.4" /></svg>
				}
				<h3 class="font-medium text-lg lg:text-xl">{s.title}</h3>
				<p class="text-[var(--text)] lg:text-[1.1rem]">{s.des}</p>
			</li>
		))}
	</ul>
	
</section>